* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.margin-horiz-auto {

  margin-left: auto;
  margin-right: auto;
}

.container {

  background-image: url("images5.jpg");
  background-position: center;
  background-size: cover;

  color: white;
  font-weight: 900;
  text-shadow: 100px 100px 100px lightgrey;
  display: flex;

  width: 100vw;
  height: 100vh;

  padding: 50px;
}

.input-element *{

  display: flex;
  flex-direction: column;
}

.elementContainer{

  height: 190px;
  overflow-x: scroll;
}

.input-container {

  padding: 100px 0;
  display: flex;
}

.input-container > * {

  margin: 30px;
}

.player-wrapper {

  padding-top: 30px;
}
